.idea
flask/recommendation/datasets/
flask/recommendation/models/
*.pyc
flask/recommendation/__pycache__/

myvenv
venv
flask/recommendation/spotify/spotifyApi

# spotipy 라이브러리 사용시 생성되는 access token
.cache
