.sidebar {
    display: flex;
    width: 15vw;
    min-width: 150px;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-right: 1px solid #1c1c1c;
}

.sidebar__title {
    padding: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: black;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
}

.playlist__add__button {
    padding-left: 5px;
}

.add__new__playlist {
    display: flex;
    width: 15vw;
    flex-direction: row;
    align-items: center;
    height: 40px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 0;
}

.add__new__playlist:hover{
    background-color: gray;
    color: black;
}

.add__button__text {
    flex-grow: 1;
}

.add__button__text > p {
    margin: 0;
    padding: 5px;
    text-align: center;
    overflow: hidden;
}

.sidebar > ul {
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.sidebar > hr {
    border: 0.5px solid white;
    margin: 0;
    padding: 0;
}

.sidebar > ul > li > button {
    display: flex;
    border: 0;
    outline: 0;
    padding: 0;
    background-color: transparent;
}

.sidebar > ul > li > hr{
    border: 0.5px solid #282828;
    margin: 0;
    padding: 0;
}