.track__info {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55vw;
    border-bottom: 2px solid #1b1b1b;
}

.track__info:hover{
    background-color: gray;
    color: black;
}

.track__order {
    width: 20px;
    padding: 10px;
    font-size: 16px;
    color: white;
}

.track__info__play__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.track__info__play__button > button {
    background-color: transparent;
    border: 0;
    box-shadow: 0;
    margin: 0;
    padding: 0;
}

.track__info__play__circle {
    margin: 0;
}

.track__cover {
    height: 50px;
    width: 50px;
}

.track__detail {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.album__title__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title__info {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25vw;
}

.album__info {
    color: #999999;
    font-size: 12px;
}

.album__info:hover {
    color: black;

}

.artist__box {
    flex-shrink: 0;
    padding: 0px;
    overflow: hidden;
    font-size: 14px;
    max-width: 20vw;
    white-space: nowrap;
    text-overflow: ellipsis;
}