.track__container {
    display: flex;
    flex-direction: column;
    width: 55vw;
    border-right: 1px solid black;
    overflow: scroll;
}

.playlist__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
}

.playlist__info__name {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    color: white;
    font-size: 36px;
    padding: 15px;
    font-weight: bold;
    padding-bottom: 0px;
}
.playlist__info__name > p {
    margin: 0;
}

.playlist__info__name > button {
    background-color: transparent;
    border: 0;
    box-shadow: 0;
}

.track__category {
    display: flex;
    flex-direction: row;
}

.track__list {
    display: flex;
    flex-direction: column;
}